body {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  background-color: #e0e0e0;
  font-family: 'Poiret One', cursive;
}

h2 {
  font-family: 'Poiret One', cursive;
}

p {
  font-family: 'Poiret One', cursive;
}




